@font-face {
  font-family: atmosphere;
  src: url(../font/aAtmospheric.ttf);
}
@font-face {
  font-family: KubaReczny;
  src: url(../font/KubaReczny.ttf);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
}
i {
  color: #0073e6;
}
.menu {
  background: rgba(255, 255, 255, 0.658);
  box-shadow: 0.4px 0.5px 1px 1px rgba(0, 0, 0, 0.411);
  position: fixed;
  transition: 0.5s;
  width: 100%;
  z-index: 10;
}
.mobile__menu {
  display: none;
}
.logo {
  text-align: center;
  transition: 0.5s;
  width: 200px;
}
.burger {
  display: none;
}
.logo img {
  width: 80%;
}
.menu__list {
  align-items: center;
  display: flex;
  justify-content: center;
  list-style: none;
  width: 100%;
}
.menu__list--item {
  font-size: 20px;
  margin: 0.1rem 2rem;
}
.menu__list--item a {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
}

.menu__list--item a:hover,
.menu__list--item a:focus {
  border-bottom: 1px solid #0fff00;
  color: #16a30c;
  font-size: 24px;
  padding-bottom: 1rem;
}
.slang {
  align-items: center;
  background-image: linear-gradient(
      118deg,
      rgba(15, 174, 77, 1) 0%,
      rgba(15, 174, 76, 0.247) 100%
    ),
    url("../zdjecia/pasek.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  flex-flow: column;
  justify-content: center;
  height: 50vh;
}
.slang h1 {
  align-items: flex-end;
  display: flex;
  font-family: atmosphere;
  font-size: 50px;
  font-weight: 300;
  margin-top: 5rem;
}
.slang h1 p {
  font-family: atmosphere;
  font-size: 40px;
  font-weight: 300;
  padding: 2px 0;
}
.slang h2 {
  font-family: KubaReczny;
  font-size: 40px;
  font-weight: 100;
  letter-spacing: 1px;
}
.slang h2::before {
  background: #0073e675;
  content: "";
  display: block;
  height: 0.5px;
  left: -22%;
  margin: 0.9rem;
  position: relative;
  width: 130%;
}
.conteiner__main {
  align-items: center;
  background-image: url("../zdjecia/tlo.jpg");
  background-position: center;
  background-size: cover;
  box-shadow: 0px 18px 13px 5px rgba(0, 0, 0, 0.336);
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100%;
}
.AboutUs {
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
  width: 60%;
}
.AboutUs p {
  background: rgba(255, 255, 255, 0.473);
  border-radius: 10px;
  font-size: 20px;
  padding: 50px;
  text-shadow: 0.5px 0.5px rgba(255, 255, 255, 0.274);
}
.Equipment {
  min-height: 100vh;
  width: 100%;
}
.Equipment__dis {
  align-items: center;
  display: flex;
  justify-content: center;
}
.img--home {
  margin: 1rem;
  width: 40%;
}
.img--home img {
  width: 100%;
}
.Equipment__dis--box {
  text-align: center;
  width: 50%;
}
.Equipment__dis--box p {
  font-size: 24px;
  width: 100%;
}

.num {
  align-items: flex-start;
  display: flex;
  justify-content: center;
  width: 100%;
}
.num div {
  border-right: 1px solid #e2e2e2;
  margin-bottom: 1.5rem;
  min-width: 30vh;
  padding: 3rem;
  text-align: center;
}
.num div:first-of-type {
  border-left: 1px solid #e2e2e2;
}
.num--ile {
  font-size: 40px;
}
.num--what {
  font-size: 20px;
}
.Equipment__box--items {
  display: flex;
  flex-flow: wrap;
  width: 100%;
}
.Equipment__box--item {
  width: 100%;
  display: flex;
}
.Equipment__box--item--img {
  background-color: #a8a8a831;
  height: 80%;
  padding: 1rem;
  text-align: left;
  width: 50%;
}
.Equipment__box--item--img img {
  box-shadow: 0px 7px 30px 5px rgba(0, 0, 0, 0.52);
  transform: translate(20px, 70px);
  width: 60%;
}
.left-img {
  min-width: 50%;
  padding: 1rem;
  text-align: end;
}
.left-img img {
  box-shadow: 0px 7px 30px 5px rgba(0, 0, 0, 0.52);
  min-width: 50%;
  transform: translate(-20px, 70px);
}
.Equipment__box--item--list {
  min-height: 55vh;
  width: 50%;
}
.Equipment__box--item--list h2 {
  color: #0073e6;
  font-size: 40px;
  padding: 30px;
}
.left h2 {
  text-align: end;
}
.Equipment__box--item--list ul {
  list-style: none;
  padding: 0 10rem 0 10rem;
}
.Equipment__box--item--list ul li {
  border-bottom: 1px solid #16a30c;
  font-size: 20px;
  font-weight: bold;
  padding: 1rem;
}

.price__box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}
.price__box--item {
  box-shadow: 0px 8px 6px 4px rgba(0, 0, 0, 0.11);
  margin: 1rem;
  min-width: 30%;
  overflow: hidden;
  position: relative;
}
.rec {
  box-shadow: 0px 8px 6px 4px rgba(0, 0, 0, 0.35);
}

.price {
  border: 1px solid #eee;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.price__header {
  background-color: #0a5eb1;
  color: white;
  font-size: 25px;
  text-align: center;
}
.recommended {
  background-color: #16b60b;
  padding: 0;
}
.price__grey {
  background-color: rgba(187, 187, 187, 0.486);
}
.price li {
  border-bottom: 1px solid #eee;
  padding: 1.4rem;
  text-align: center;
}
.item__dis {
  height: 80%;
}
.statute {
  margin: 1rem;
}
.statute p {
  color: rgba(90, 89, 89, 0.795);
  font-size: 12px;
  text-align: center;
}
.place {
  align-items: center;
  background: #e2e2e270;
  border-bottom: 2px solid #e2e2e2;
  border-top: 2px solid #e2e2e2;
  display: flex;
  flex-flow: column;
  justify-content: center;
  margin-top: 10rem;
}
.title {
  text-align: center;
}
.title h2 {
  color: #0073e6;
  padding: 1rem;
}
.title h3 i {
  color: #16a30c;
}
.place__atr {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 0.5rem;
  width: 100%;
}
.palce--img {
  width: 30%;
}
.palce--img img {
  -webkit-box-shadow: 4px 5px 10px 1px rgba(0, 0, 0, 0.73);
  box-shadow: 4px 5px 10px 1px rgba(0, 0, 0, 0.73);
  min-width: 50%;
  width: 100%;
}
.place__atr--item {
  padding: 5rem;
  width: 30%;
}
.place__atr--list {
  display: flex;
  flex-flow: column;
  list-style: none;
  width: auto;
}
.place__atr--list li {
  border-bottom: 1px solid #16a30c;
  font-size: 20px;
  font-weight: bold;
  padding: 1rem;
}
.place__atr--item h2 {
  color: #16a30c;
  text-align: center;
}
.white {
  background: white;
}
.place__atr--list__program {
  text-align: center;
}
.place__atr--list__program i {
  color: black;
}
.place__atr--list__program a {
  color: #0073e6;
  margin: 0 1rem;
  text-decoration: none;
}
.sign {
  opacity: 0.5;
  position: absolute;
  text-align: center;
  z-index: -1;
}
.others__box {
  align-items: center;
  display: flex;
  flex-flow: column;
  justify-content: center;
  margin: 1rem 0;
  position: relative;
  width: 100%;
}
.others__box h1 {
  color: #0a5eb1;
  margin: 1rem;
}
.others__box--items {
  display: flex;
  flex-flow: column;
  width: 50%;
}
.others__box--item {
  align-items: center;
  background: rgba(255, 255, 255, 0.5);
  border: 0.6px solid rgba(92, 91, 91, 0.153);
  box-shadow: 2px 1px 2px 1px rgba(0, 0, 0, 0.562);
  display: flex;
  justify-content: center;
  margin: 0.5rem;
  width: 100%;
}
.others__box--item img,
.others__box--item p {
  font-size: 1.2rem;
  margin: 1.2rem;
  padding: 0.3rem;
  text-align: center;
}

.others__box--item p:first-of-type {
  width: 40%;
  border-right: 0.5px solid rgba(102, 101, 101, 0.356);
}
.others__box--item div:first-of-type {
  width: 45%;
}
.title--box {
  background-color: #e2e2e286;
  display: flex;
  position: sticky;
  top: 15%;
}
.title--box div {
  text-align: center;
}

.green__box {
  background-color: #0c8603;
  border-radius: 20%;
  height: 70%;
  left: 10%;
  position: absolute;
  top: 20%;
  transform: skew(-20deg, 22deg);
  width: 50%;
  z-index: -2;
}
.contact {
  align-items: center;
  display: flex;
  flex-flow: column;
  width: 100%;
  background-image: linear-gradient(
      118deg,
      rgba(0, 115, 230, 1) 0%,
      rgba(0, 115, 230, 0.247) 100%
    ),
    url("../zdjecia/pasek.jpg");
  background-position: center;
  background-size: cover;
}
.contact__title {
  align-items: center;
  display: flex;
  flex-flow: column;
  margin: 2rem;
}
.contact__title h1 {
  margin: 1rem;
}
.contact__title h1::after {
  background: #0fff00;
  content: "";
  display: block;
  height: 0.5px;
  margin: 0.9rem;
  position: relative;
  transform: translateX(-30%);
  width: 200%;
}
.contact__box--info {
  display: flex;
  font-size: 1.5rem;
  justify-content: space-around;
  text-align: center;
  width: 60%;
}
.contact__box--info i {
  color: black;
}
.phone {
  text-decoration: none;
  color: black;
}
.but__map {
  border-radius: 50px;
  border: 0.5px solid rgba(0, 0, 0, 0.315);
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.37);
  margin: 1rem;
  padding: 0.5rem 3rem;
}
.but__map:hover {
  background: #0fff00;
  color: #0073e6;
  cursor: pointer;
}
.map {
  position: relative;
}
.info__conteiner {
  align-items: center;
  background: rgba(255, 255, 255, 0.473);
  display: flex;
  flex-flow: column;
  height: 400px;
  position: absolute;
  text-align: center;
  top: 0%;
  transition: 0.5s;
  width: 100%;
  z-index: 1;
}
.info__conteiner h2 {
  margin: 2rem;
}
.info__items {
  align-items: center;
  display: flex;
  height: 90%;
  justify-content: center;
  width: 80%;
}
.info__item {
  text-align: center;
  width: 40%;
  font-size: 2rem;
}
.info__item a {
  color: black;
  text-decoration: none;
}
.map_down {
  z-index: -1;
}

.to__up {
  cursor: pointer;
  position: absolute;
  right: -10%;
  bottom: 200%;
  z-index: 100;
}
.to__up--animation {
  animation: mymove 3s;
}
.to__up a i {
  font-size: 4rem;
  color: #0fff00;
}
.nav__trasform {
  background: rgba(255, 255, 255, 0.747);
}
.menu__list--transform {
  margin: 0.2rem 0.5rem;
  transition: 0.5s;
}
.menu__logo--transform {
  width: 100px;
}
.menu__item--transform {
  font-size: 15px;
}
.backdrop {
  background-color: rgba(0, 0, 0, 0.295);
  height: 100vh;
  opacity: 0;
  position: fixed;
  transition: 0.5s;
  width: 100%;
  z-index: -1;
}
.backdrop__on {
  opacity: 1;
  z-index: 1;
}
.cookie {
  align-items: center;
  background-color: #ffffffa1;
  bottom: 0;
  box-shadow: 1px -1px 1px 2px rgba(0, 0, 0, 0.295);
  display: flex;
  height: 15vh;
  justify-content: center;
  position: fixed;
  width: 100%;
  z-index: 5;
}
.cookie p {
  margin: 0.2rem;
}
.cookie a {
  background-color: black;
  color: white;
  cursor: pointer;
  margin-left: 1rem;
  padding: 0.5rem;
}
.cookie a:hover,
.cookie a:focus {
  color: black;
  background: white;
}
.cookie--off {
  display: none;
}
footer {
  align-items: center;
  border-top: 1px solid #0fff00;
  display: flex;
  height: 50px;
  justify-content: space-between;
  margin: 1rem auto 0 auto;
  position: relative;
  width: 70%;
}
@keyframes mymove {
  0% {
    transform: translateY(20px);
  }
  25% {
    transform: translateY(-20px);
  }
  50% {
    transform: translateY(20px);
  }
  75% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}
