@font-face {
  font-family: atmosphere;
  src: url(../font/aAtmospheric.ttf);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
i {
  color: #0073e6;
}
.menu {
  display: flex;
  justify-content: space-between;
  background: white;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 10;
  transition: 0.5s;
  height: 100px;
}
.logo {
  width: 10%;
  margin: 0 2rem;
  transition: 0.5s;
}
.logo img {
  width: 100%;
  height: 100%;
}
.menu__list {
  display: flex;
  list-style: none;
  align-items: flex-end;
}
.menu__list--item {
  margin: 1rem 2rem;
  transition: 0.5s;
}
.menu__list--item a {
  color: black;
  font-size: 24px;
  text-decoration: none;
  border: none;
  padding-bottom: 0rem;
  transition: 0.5s;
}
.menu__list--item a:hover,
.menu__list--item a:focus {
  color: #0fff00;
  border-bottom: 1px solid #0fff00;
}
.slang {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  background: #0073e6;
  height: 50vh;
}
.slang h1 {
  font-size: 50px;
  font-weight: 300;
  font-family: atmosphere;
}
.slang h2 {
  font-weight: 200;
}
.slang h1::after {
  content: "";
  display: block;
  width: 130%;
  height: 0.5px;
  left: -22%;
  position: relative;
  background: #0fff00;
  margin: 0.9rem;
}
.conteiner__main {
  width: 100%;
  height: 100vh;
  background-image: url("../tlo.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
.AboutUs {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
}
.AboutUs p {
  padding: 50px;
  backdrop-filter: blur(8px);
  font-size: 20px;
}
.Equipment {
  height: 100vh;
  width: 100%;
}
.num {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}
.num div {
  min-width: 20vh;
  margin: 0 1rem;
  text-align: center;
  padding: 3rem;
  border-right: 1px solid #e2e2e2;
}
.num div:first-of-type {
  border-left: 1px solid #e2e2e2;
}
.num div p {
  font-size: 40px;
}
.num div i {
  font-size: 2rem;
}
.Equipment__dis {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}
.Equipment__dis img {
  height: 500px;
  width: 300px;
}
.Equipment__dis p {
  width: 50%;
}
.place {
  margin-top: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  border-top: 2px solid #e2e2e2;
  border-bottom: 2px solid #e2e2e2;
  background: #e2e2e270;
}
.place h2 {
  padding-top: 1rem;
}
.place__atr {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem;
  padding: 0.5rem;
}
.place__atr img {
  width: 400px;
  height: 300px;
  -webkit-box-shadow: 4px 5px 10px 1px rgba(0, 0, 0, 0.73);
  box-shadow: 4px 5px 10px 1px rgba(0, 0, 0, 0.73);
}
.place__atr p {
  margin: 1.5rem;
  width: 50%;
}
.white {
  background: white;
  width: 100%;
}
.contact {
  display: flex;
  align-items: center;
  flex-flow: column;
  width: 100%;
  background: #0073e6;
}
.contact__title {
  display: flex;
  align-items: center;
  flex-flow: column;
  margin: 2rem;
}
.contact__title h1 {
  margin: 1rem;
}
.contact__title h1::after {
  content: "";
  display: block;
  width: 200%;
  height: 0.5px;
  position: relative;
  background: #0fff00;
  margin: 0.9rem;
  transform: translateX(-30%);
}
.contact__box--info {
  display: flex;
  justify-content: space-around;
  width: 60%;
  text-align: center;
  font-size: 1.5rem;
}
.contact__box--info i {
  color: black;
}
.but__map {
  padding: 0.5rem 3rem;
  margin: 1rem;
  border-radius: 50px;
  border: 0.5px solid rgba(0, 0, 0, 0.315);
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.37);
}
.but__map:hover {
  background: #0fff00;
  color: #0073e6;
  cursor: pointer;
}
.map {
  position: relative;
}
.info__conteiner {
  position: absolute;
  top: 0%;
  display: flex;
  align-items: center;
  flex-flow: column;
  width: 100%;
  height: 400px;
  text-align: center;
  background: rgba(255, 255, 255, 0.473);
  z-index: 1;
  transition: 0.5s;
}
.info__conteiner h2 {
  margin: 2rem;
}
.info__items {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90%;
  width: 80%;
}
.info__item {
  text-align: center;
  width: 40%;
  font-size: 2rem;
}
.info__item i {
  font-size: 3rem;
}
.map_down {
  z-index: -1;
}
footer {
  border-top: 1px solid #0fff00;
  position: relative;
  height: 50px;
  width: 70%;
  display: flex;
  align-items: center;
  margin: 1rem auto 0 auto;
}
.to__up {
  cursor: pointer;
  position: absolute;
  right: 1%;
}
.to__up a i {
  font-size: 2rem;
  color: #0fff00;
}
@media (max-width: 600px) {
  .menu {
    display: none;
  }
  .AboutUs {
    width: 90%;
  }
  .AboutUs p {
    font-size: 16px;
  }
  .Equipment__dis {
    height: auto;
    width: 100%;
    flex-flow: column;
  }
  .Equipment__dis img {
    display: none;
  }
  .Equipment__dis p {
    margin: 0.5rem;
    font-size: 15px;
    width: 90%;
  }
  .place__atr {
    flex-flow: column;
  }
  .num {
    margin: 1rem 0;
    min-width: 10vh;
    flex-flow: column;
    align-items: center;
  }
  .num div {
    margin: 0.2rem 0.5rem;
    padding: 1.5rem;
    border: none;
    border: 1px solid #e2e2e2;
    min-width: 50%;
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.315);
  }
  .place {
    height: auto;
  }
}
